.vibetitle {
    font-size: 200px;
    font-family: 'Freestyle Script', cursive;
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(90deg, rgba(153,0,255,1) 33%, rgba(240,5,151,1) 42%, rgba(242,16,131,1) 48%, rgba(255,30,9,1) 54%, rgba(252,176,69,1) 63%);
}
.viberesult {
display: inline;
    margin-left: 3px;
    text-align: left;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(90deg, rgba(240,5,151,1) 10%, rgba(242,16,131,1) 25%, rgba(255,30,9,1) 45%, rgba(252,176,69,1) 70%);
    background-image: linear-gradient(90deg, rgba(240,5,151,1) 5%, rgba(242,16,131,1) 20%, rgba(255,30,9,1) 4%0, rgba(252,176,69,1) 70%);
}
.custom-search-bar {
            width: 70%; /* Adjust the width as needed */
            margin: auto; /* Center the search bar */
        }
        .custom-search-bar input {
            border-radius: 25px; /* Adjust the border-radius for rounded corners */
            background-color: #4A00E0;
            transition: background-color 0.3s ease;
            color: white; /* Text color */
            border: 2px solid #4A00E0; /* Default border color */
            transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease; /* Smooth transition effect */

        }

.custom-search-bar input:hover {
    background-color: purple; /* Purple background on hover */
    border: 2px solid #ff00c5;
}

.custom-search-bar input:focus {
    outline: #ff9600;
    border: 2px solid #ff9600;
    color: white;
    background-color: #fa0488;
}
.custom-search-bar input::placeholder {
    color: white; /* White placeholder text color */
}

.result-search-bar {
display: inline;
width: 30%;
 /* Adjust the width as needed */
}
        .result-search-bar input {
            border-radius: 25px; /* Adjust the border-radius for rounded corners */
            background-color: #4A00E0;
            transition: background-color 0.3s ease;
            color: white; /* Text color */
            border: 2px solid #4A00E0; /* Default border color */
            transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease; /* Smooth transition effect */

        }

.result-search-bar input:hover {
    background-color: purple; /* Purple background on hover */
    border: 2px solid #ff00c5;
}

.result-search-bar input:focus {
    outline: #ff9600;
    border: 2px solid #ff9600;
    color: white;
    background-color: #fa0488;
}
.result-search-bar input::placeholder {
    color: white; /* White placeholder text color */
}


body {
    background-color: #121212; /* Dark background color */
    color: #ffffff; /* White text color */
}

.header-banner {
display: inline-block;
    text-align: justify;
    background: linear-gradient(to right, #8E2DE2, #4A00E0); /* Purple gradient background */
    padding: 6px;
    white-space: nowrap;
    width: 100%;
}

.brand-text {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px
}

.container-fluid {
      position: relative;
      height: 100%;
    }

.playlist-container {
  position: relative;
  top: 34%;
  left: 17%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.music-image {
    margin-top 20px;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    border-radius: 12px;

}

.round-button {
    padding: 10px 60px;
    margin-top: 8px;
    border: none;
    border-radius: 20px;
    background-color: #1DB954; /* Spotify green color */
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Added transition property */
}

.round-button:hover {
    background-color: #168E3A; /* Darker green on hover */
    transform: scale(1.05); /* Grow slightly on hover */
}

.vibe-button {
display: inline-block;
  padding: 10px 20px;
  background: purple; /* Gradient from Spotify green to yellow */
  color: #fff; /* Black text color */
  border: 2px solid #1DB954; /* Spotify green border */
  border-radius: 25px; /* Rounded corners */
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s, color 0.3s, transform 0.3s;
}

.vibe-button:hover {
background: #fa0488; /* Darker green to yellow gradient on hover */
      transform: scale(1.05); /* Slight grow effect on hover */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.container-fluid.background {
    height: 100%;
}

