{% extends "base.html" %}
{% block tite %}
VibeMaster Home
{% endblock %}
{% block banner %}
<div class="header-banner brand-text">
    VibeMaster
</div>
{% endblock %}
{% block content %}
<div class="vibetitle">
    VibeMaster
</div>
<div class="col-8 offset-2 text-center">
<form action="/result" method="post">
    <p>
        <div class="custom-search-bar">
        <input type="text" id="query" name="query" class="form-control" placeholder="Which Vibe are We Looking for...">
        </div>
    </p>
    <p>
        <button type="submit" class="vibe-button">Take me to the Vibes</button>

    </p>
</form>
</div>
{% endblock %}
{% block footer %}
Playlists from <a href="https://open.spotify.com/">Spotify</a> and Photos from <a href="https://unsplash.com/">Unplash</a>
{% endblock %}